%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :postal_code
    %br/
    = f.text_field :postal_code
  .field
    = f.label :prefectures
    %br/
    = f.text_field :prefectures
  .field
    = f.label :municipalities
    %br/
    = f.text_field :municipalities
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :building
    %br/
    = f.text_field :building
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
