= render"items/header"
-# 以下もレンダーでまとめるようにする

-# 全体のボックス
= render"background"

-# 商品画像アップエリア、タイトルから値段まで
= render"image"
= render"title"
= render"info"
= render"shipping"
= render"price"

= render"items/footer"
