.footer
  %ul.contents
    %li.content
      %h2.content__top
        FURIMAについて
      %ul.items
        %li
          = link_to '会社概要（運営会社', "#", class: "footer-item"
        %li
          = link_to 'プライバシーポリシー', "#", class: "footer-item"
        %li
          = link_to 'FURIMA利用規約', "#", class: "footer-item"
        %li
          = link_to 'ポイントに関する特約', "#", class: "footer-item"
    %li.content
      %h2.content__top
        FURIMAを見る
      %ul.items
        %li
          = link_to 'カテゴリー一覧', "#", class: "footer-item"
        %li
          = link_to 'ブランド一覧', "#", class: "footer-item"
    %li.content
      %h2.content__top
        ヘルプ＆ガイド
      %ul.items
        %li
          = link_to 'FURIMAガイド', "#", class: "footer-item"
        %li
          = link_to 'FURIMAロゴ利用ガイドライン', "#", class: "footer-item"
        %li
          = link_to 'お知らせ', "#", class: "footer-item"
  .footer__logo
    = link_to "#" do
      = image_tag("logo-white.png", class:"link", width: "160px", height: "46px")
    %p.copyright ©︎ FURIMA
    .btn
      = link_to '#' do
        .purchaseBtn
          %span.purchaseBtn__text
            出品する
            = image_tag('icon_camera.png', class: 'purchaseBtn__icon')