= render "header"

//パンクズ機能実装しない為
//%nav.categoryLists
//  %ul
//    %li
//      = link_to "FURIMA", "#", class: "list"
//    %li
//      = icon('fa', 'angle-right')
//    %li
//     = link_to "レディース", "#", class: "list"
//    %li
//      = icon('fa', 'angle-right')
//    %li
//      = link_to "トップス", "#", class: "list"
//    %li
//      = icon('fa', 'angle-right')
//    %li
//      = link_to "Tシャツ/カットソー(半袖/半袖なし)", "#", class: "list"
//    %li
//      = icon('fa', 'angle-right')
//    %li
//      %p テスト

.Main
  .showMain
    .contentLeft
    .contentRight
      .topContent
        .itemBox
          %h2.itemBox__name
            = @exhibition.goods_name
          .itemBox__body
            %ul.items
              %li.item
                = image_tag("icon-01.png", width: "560px", height: "346px", class: "itemImg1")
                %ul.details
                  %li.detail
                    = image_tag("icon-01.png", width: "140px", height: "87px", class: "itemImg2")
          .itemBox__price
            %span.yen
              = @exhibition.price
            .itemBox__price--details
              %span
                (税込)
              %span
                = @exhibition.shipping_charges
          .itemDetail
            = @exhibition.goods_demonstrate
          .table
            %table.itemTable
              %tbody.itemChart
                %tr
                  %th.name 出品者
                  %td.detail
                    = @exhibition.user.name
                %tr
                  %th.name カテゴリー
                  %td.detail
                    = link_to "レディース", "#", class: "category"
                    %br/
                    = link_to "トップス", "#", class: "category"
                    %br/
                    = link_to "Tシャツ/カットソー(半袖/半袖なし)", "#", class: "category"
                %tr
                  %th.name ブランド
                  %td.detail
                %tr
                  %th.name 商品の状態
                  %td.detail
                    = @exhibition.goods_status
                %tr
                  %th.name 配送料の負担
                  %td.detail
                    = @exhibition.shipping_charges
                %tr
                  %th.name 発送元の地域
                  %td.detail
                    = @exhibition.shipping_area
                %tr
                  %th.name 発送日の目安
                  %td.detail
                    = @exhibition.shipping_date
          .optionBox
            %ul.optionBox__Btn
              %li.optionBox__Btn--detail
                = icon('fa', 'star')
                お気に入り 1
            %ul.optional
              %li.optional__Btn
                = link_to "#", class: "btn" do
                  = icon('fa', 'fa-flag')
                  不適切な商品の通報
        .commentBlock
          %textarea
          %p.noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br/
            不快な言葉使いなどは利用制限や退会処分となることがあります。
          %button{type: "submit"}
            = icon('fa', 'comment')
            コメントする
        %ul.links
          %li.linkLeft
            = link_to "#", class: "select" do
              = icon('fa', 'angle-left')
              前の商品
          %li.linkRight
            = link_to "#", class: "select" do
              %span 後ろの商品
              = icon('fa', 'angle-right')
        .relatedItems
          = link_to "レディースをもっと見る", "#", class: "moreView"
          .itemLists
            .itemList
              = link_to "#", class: "item" do
                %figure.item__img
                  = image_tag("icon-01.png", width: "220px", height: "150px", class: "itemImg")
                .item__body
                  %h3.name product1
                  .details
                    %ul
                      %li 10000円
                      %li
                        = icon('fa', 'star')
                        1
                    %p (税込)
= render "banner"
= render "footer"